<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <title>Exit</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class= "purple lighten-1">
  
    <div class= "center-align"> <img width="500px" src="https://lh3.googleusercontent.com/proxy/FIxAUO1BiWDxHVMVLaj07MbeDJJDwOwFEBRbS81qKS_9t8Q4U2BQkxAgdosZUwRVwe7zk18UKmOCZ2BkzyZ9VptfBE7c4LuL8A" />
     </div> 
  </body>
</html>