<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Game over</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class= "purple lighten-1">
    <h2 class="red accent-4 center-align">WASTED!!!</h2>
    <div class= "center-align"> <img width="250px" src="https://i0.wp.com/metro.co.uk/wp-content/uploads/2018/01/mg_cute_pupper_comp001.png?quality=90&strip=all&zoom=1&resize=644%2C338&ssl=1" alt="" class= "circle responsive-img" />
     </div>
   </body>
</html>