<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Game over</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h2 class="container text-center">WASTED!!!</h2>
    <div class= "container text-center"> 
        <img width="250px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/17e44b13-f0b8-4cab-900f-5696feddb34f/de2k500-f7529491-0667-4d37-ab9f-5e2e09d21ccc.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzE3ZTQ0YjEzLWYwYjgtNGNhYi05MDBmLTU2OTZmZWRkYjM0ZlwvZGUyazUwMC1mNzUyOTQ5MS0wNjY3LTRkMzctYWI5Zi01ZTJlMDlkMjFjY2MucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.HVjxAqKXGyhxWYudvSeSzrQcTAG2H55dD91t5VV8_3I" alt="" class= "circle responsive-img" />
     </div>
   </body>
</html>